@use "../../styles/variables" as shared;
@use "../../styles/themes/main/variables" as *;

.error-card {
    margin: auto;
    background: $destructive;
    border-radius: shared.$radius-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
    width: 500px;

    &-icon {
        width: 48px;
        height: 48px;
        color: $text-primary;
    }

    &-title {
        font-family: shared.$font-family;
        font-size: 22px;
        font-weight: 600;
        color: $text-primary;
    }

    &-message {
        font-family: shared.$font-family;
        font-size: 14px;
        color: $text-primary;
        text-align: center;
        max-width: 400px;
    }
}
